.headerImag {
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introOne{
    display: block;
    width: 100%;
    max-width: 560px;
    align-self: center;
    justify-self: center;
      }

body{
    background-image: url(imagenes/introTwo.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}